<div class="w-100" style="padding-top: 60px">
  <ngx-extended-pdf-viewer
    [src]="
      'https://firebasestorage.googleapis.com/v0/b/quantum-field-theory.appspot.com/o/Quantum_Field_Theory_Paper.pdf?alt=media'
    "
    [height]="'100vh'"
    [useBrowserLocale]="true"
    [textLayer]="false"
    [showHandToolButton]="false"
    [showDownloadButton]="false"
    [showEditor]="false"
    [showToolbar]="false"
    [showBorders]="false"
    [backgroundColor]="'#FFFFFF'"
    [sidebarVisible]="false"
    [enablePinchOnMobile]="true"
  >
  </ngx-extended-pdf-viewer>
</div>
