

<div style="height: 100vh; width: 100vw">
    <div
    class="position-relative d-flex justify-content-center align-items-center w-100 h-100"
    
  >
    <img
      class="d-none d-md-block position-absolute m-0 w-100 h-100"
      style="object-fit: cover"
      [src]="'assets/home-desktop.png'"
    />
    <img
      class="d-block d-md-none position-absolute m-0 w-100 h-100"
      style="object-fit: cover"
      [src]="'assets/home-mobile.png'"
    />
  
    <h2
      class="position-absolute m-auto fw-bolder text-center w-100 text-shadow-white text-purple-home px-3"
      style="z-index: 100; font-size: 50px; font-family: 'Courier New', Courier, monospace;"
    >
      Quantum Field Theory
    </h2>
  </div>
  
</div>
